body {
    background-color: #ECE0F8;
    color: #3B0B39;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 10px auto;
}

@media screen and (max-width: 768px) {
    body {
	font-size: 1.2rem; /* Larger font size for better readability */
	max-width: 90%;
	padding: 20px;
    }
}

.logo {
    display: flex;
    margin-right: 20px;
    justify-content: center;
}

.logo img {
    max-height: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  background-color: #ECE0F8;
}

li a {
  display: block;
  color: #2A0A29;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.2s;
}

li a:hover {
  background-color: #E3CEF6;
}

@media screen and (max-width: 768px) {
    li a {
	padding: 20px; /* Larger padding for easier touch navigation */
	font-size: 1.2rem; /* Larger font size for better readability */
    }
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    text-align: left;
    font-size: 2em;
    color: #3B0B39;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        width: 100%;
    }
    .menu-toggle {
        display: block; /* Show the toggle button on small screens */
    }
    .menu li {
        display: block; /* Stack menu items vertically */
    }
}

form {
    max-width: 400px; /* Maximum width */
    width: 100%; /* Full width on smaller screens */
    margin: 0 auto;
    padding: 20px;
    background-color: #ECE0F8;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    form {
	font-size: 2rem; /* Larger font size for better readability */
    }
}

.video-container {
    text-align: center;
}

.desktop-video, .mobile-video {
    display: none;
}

@media screen and (min-width: 769px) {
    .desktop-video {
        display: block;
    }
}

textarea, input[type="submit"] {
    width: calc(100% - 40px); /* Full width minus padding */
    max-width: 360px; /* Maximum width */
    margin-bottom: 10px; /* Spacing between elements */
}

textarea {
    height: auto; /* Let the height be automatic */
    min-height: 150px; /* Minimum height */
}

input[type="submit"] {
    padding: 10px; /* Comfortable click area */
    cursor: pointer; /* Pointer cursor on hover */
}

input[type="submit"] {
    border: none;
    background-color: #E3CEF6;
    color: #3B0B39;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #666;
}

@media screen and (max-width: 768px) {
    textarea {
	font-size: 0.6em;
    }
    input[type="submit"] {
        font-size: 0.8em;
    }
    input[type="text"] {
	font-size: 0.7em;
    }
}

input[type="file"] {
    border: none;
    background-color: #E3CEF6;
    padding: 10px;
    border-radius: 5px;
    color: #3B0B39;
    width: 100%;
}

/* Styles for desktop and mobile visibility */
#desktop-form {
    display: block; /* default display for table */
}

#mobile-form {
    display: none; /* hidden by default */
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    #desktop-form {
        display: none; /* hide desktop table on mobile */
    }
    #mobile-form {
        display: block; /* show mobile layout on mobile */
    }
    #mobile-row {
        margin-bottom: 20px; /* space between entries */
    }
    .name-pair, .button-group {
        margin-bottom: 0px; /* space within an entry */
    }
    .name-pair {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
    }
    .name-pair span {
	font-size:0.8em;
	flex: 1;
	margin-right: 10px;
    }
    .name-pair input[type="text"] {
	flex:2;
	max-width:60%;
    }
    .button-group button {
        width: 18%; /* adjust based on preference */
        margin-right: 5px; /* space between buttons */
    }
    .mobile-video {
        display: block;
    }
}

/* Styling for mobile layout */
.mobile-row {
    padding: 5px;
}

.mobile-row.button-row {
    display: flex;
    justify-content: space-around;  /* This centers the buttons and spaces them nicely */
    padding: 20px;
}

.mobile-row.button-row button {
    flex-grow: 1;  /* Each button expands to fill the space */
    margin: 0 10px;  /* Add some horizontal space between buttons */
    padding: 10px 0;  /* Vertical padding for easier tapping */
    font-size: 0.6em;  /* Larger font size for readability */
}


.toggle {
  background-color: transparent;
  border: none;
  color: #3B0B39;
  cursor: pointer;
  outline: none;
  height: 20px;
  padding: 0;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;
  margin-left: 20px;
}


.toggle.active i {
    transform: rotate(90deg);
}

.sample-header {
    display: flex;
    align-items: left;
    align-items: center;
}

.read-excerpt-text {
    font-size: 1.3em; /* Adjust the size as needed */
    font-weight: bold; /* Optionally make it bold */
}

@media screen and (max-width: 768px) {
    .read-excerpt-text {
	font-size: 1.7em;
    }
}

.material-icons {
    vertical-align: bottom; /* Align vertically to the middle */
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #3498db; /* Background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding for better visibility */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
    z-index: 10;
    margin-left: auto; /* Push to the right */
    margin-right: 10px; /* Margin from the rest of the content */
    transition: background-color 0.3s ease; /* Smooth color transition */
}
 
@media screen and (max-width: 768px) {
    .footer {
	position: static;
    }
}
