{% extends "base.html" %}

{% block title %}
500 Server Error
{% endblock %}

{% block extra_stylesheets %}

{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block content %}
<h1>500 Server Error</h1>
<p>Oops! We messed up some Python code. Sorry about that, maybe you can try again?</p>
<p>This project is still in the early stages, so we know there are bugs to fix.
  When we look at the logs, we'll try to figure out what went wrong for you
  and make it right.</p>
<p>If trying again doesn't work, please come back in a week or two.
  Hopefully we'll have a better version that works for you.</p>
{% endblock %}

{% block body_scripts %}

{% endblock %}
