{% extends "base.html" %}

{% block title %}
503 Service Unavailable
{% endblock %}

{% block extra_stylesheets %}

{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block content %}
<h1>503 Service Unavailable</h1>
Oh oh... have we gone viral? Or been sued by somebody with very powerful lawyers? Please check back soon!
Or go to our GitHub <a href="https://github.com/JimmyLamothe/Degenderer/discussions">discussion page</a>
for news on why the server is down.
{% endblock %}

{% block body_scripts %}

{% endblock %}
