<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block extra_stylesheets %}{% endblock %}
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
	<img src="{{ url_for('static', filename='images/logo_dark_transparent.png') }}" alt="The Degenderer / Regenderer logo">
      </div>
      <nav>
	<button class="menu-toggle" aria-label="Open navigation menu">☰ Menu</button>
	<ul class="menu">
	  <li><a href="{{ url_for('welcome') }}"></a></li>
	  <li><a href="{{ url_for('welcome') }}">Home</a></li>
	  <li><a href="{{ url_for('upload_book') }}">De/Regender Book</a></li>
	  <li><a href="{{ url_for('text_upload') }}">De/Regender Text</a></li>
	  <li><a href="{{ url_for('search') }}">Search for Book</a></li>
	  <li><a href="{{ url_for('samples') }}">Samples</a></li>
	</ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    {% block body_scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='menu-toggle.js') }}"></script>
  </body>
</html>
