{% extends "base.html" %}

{% block title %}
  Known Names Replacement
{% endblock %}

{% block head_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src={{ url_for('static', filename='suggest.js') }}> </script>
{% endblock %}

{% block content %}
  <p>These are all the names we are pretty sure are characters in the book. You can get a suggestion
  by clicking on the appropriate button for male, female or non-binary names.</p>
  <form method="POST">
    <table>
      <thead>
        <tr>
          <th>Existing Name</th>
          <th>New Name</th>
	  <th colspan="3">Suggestion</th>
        </tr>
      </thead>
      <tbody>
	<tr>
	  <td colspan="2"></td>
	  <td>
            <button type="button" onclick="suggestAll('nb')">
              NB
            </button>
	  </td>
	  <td>
            <button type="button" onclick="suggestAll('female')">
              F
            </button>
	  </td>
	  <td>
            <button type="button" onclick="suggestAll('male')">
              M
            </button>
	  </td>
	  <td>
            <button type="button" onclick="clearAll()">
              Clear
            </button>
	  </td>

	</tr>
        {% for name in session['known_name_list'] %}
          <tr>
            <td class="existing-name">{{ name }}</td>
            <td><input type="text" name="new_names[]" /></td>
            <td>
              <button
		type="button"
		onclick="suggestRow(suggestNb, this.parentNode.parentNode)">
                NB
              </button>
            </td>
	    <td>
              <button
		type="button"
		onclick="suggestRow(suggestFemale, this.parentNode.parentNode)">
                F
              </button>
            </td>
	    <td>
              <button
		type="button"
		onclick="suggestRow(suggestMale, this.parentNode.parentNode)">
                M
              </button>
            </td>
	    <td>
              <button type="button" onclick="clearRow(this.parentNode.parentNode)">
                Clear
              </button>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td><button type="submit">Submit</button></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}
