{% extends "base.html" %}

{% block title %}
  Potential Names Replacement
{% endblock %}

{% block head_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src={{ url_for('static', filename='suggest.js') }}> </script>
{% endblock %}

{% block content %}
  <h1>Name Selection</h1>
  <form method="POST">
    <table>
      <thead>
        <tr>
          <th>Existing Name</th>
          <th>New Name</th>
	  <th colspan="3">Suggestion</th>
        </tr>
      </thead>
      <tbody>
        {% for name in session['potential_name_list'] %}
          <tr>
            <td class="existing-name">{{ name }}</td>
            <td><input type="text" name="new_names[]" /></td>
            <td>
              <button type="button" onclick="suggest_nb(this.parentNode.parentNode)">
                NB
              </button>
            </td>
	    <td>
              <button type="button" onclick="suggest_female(this.parentNode.parentNode)">
                F
              </button>
            </td>
	    <td>
              <button type="button" onclick="suggest_male(this.parentNode.parentNode)">
                M
              </button>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><button type="submit">Submit</button></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}
