{% extends "base.html" %}

{% block title %}
Processing Error
{% endblock %}

{% block extra_stylesheets %}

{% endblock %}

{% block head_scripts %}

{% endblock %}

{% block content %}
<h1>Processing Error</h1>
Sorry! For some reason, we couldn't process your book properly.<br>
It's probably worth trying again at least once.<br>
If it fails again, feel free to give us the link to the book on our GitHub
<a href="https://github.com/JimmyLamothe/Degenderer/discussions">discussion page</a>.
{% endblock %}

{% block body_scripts %}

{% endblock %}
