{% extends "base.html" %}

{% block title %}
  Pronoun Selection
{% endblock %}

{% block content %}
  <form method="POST">
    <h3>Female Pronouns:</h3>
    <label><input type="radio" name="female" value="non-binary" onchange="showNonBinaryForm()">Non-binary</label><br>
    <label><input type="radio" name="female" value="female" onchange="showNonBinaryForm()" checked>Female</label><br>
    <label><input type="radio" name="female" value="male" onchange="showNonBinaryForm()">Male</label><br>
    <h3>Male Pronouns:</h3>
    <label><input type="radio" name="male" value="non-binary" onchange="showNonBinaryForm()">Non-binary</label><br>
    <label><input type="radio" name="male" value="female" onchange="showNonBinaryForm()">Female</label><br>
    <label><input type="radio" name="male" value="male" onchange="showNonBinaryForm()" checked>Male</label><br>

    <div id="non-binary-form" style="display: none;">
      <h3>Non-binary Pronouns:</h3>
	  <label for="she">She</label>
	  <input type="text" name="she" id="she" value="They"><br>
	  <label for="he">He</label>
	  <input type="text" name="he" id="he" value="They"><br>
	  <label for="her">Her</label>
	  <input type="text" name="her" id="her" value="Their"><br>
	  <label for="his">His</label>
	  <input type="text" name="his" id="his" value="Their"><br>
	  <label for="him">Him</label>
	  <input type="text" name="him" id="him" value="Them"><br>
	  <label for="hers">Hers</label>
	  <input type="text" name="hers" id="hers" value="Theirs"><br>
	  <label for="herself">Herself</label>
	  <input type="text" name="herself" id="herself" value="Themself"><br>
	  <label for="himself">Himself</label>
	  <input type="text" name="himself" id="himself" value="Themself"><br>
    </div>

    <br>
    <input type="submit" value="Submit">
    
    <p>We'll attempt to change all words that refer to males or to females to your selection.
      Unfortunately, we're just doing simple search and replace, so we can't only change the
      gender of a specific character. Changing a character's gender affects all others
      who share the same gender in the original book.</p>
    <p>If you would like to use specific pronouns for non-binary characters, a selection menu
      will pop up once you select non-binary. The default pronouns we use for non-binary
      are they/them/their, but you can change them to whatever you wish.</p>
    <p>A known issue is that "her" should become "their" in "her friend", but "them" in "it's her!".
      By default we use the more common usage "their", but you can use "their/them" if you want to
      address both possible meanings.</p>
    <p>A similar issue is that "his" should become "their" in "his friend", but "theirs" in "Whose book
      is that? It's his". We again use the more common "their", but you can use "their/s" as well.</p>
    <p>Both of these issues also affect going from male to female and from female to male, where we
      made the same choice to prioritize the possessive form. If you want to make a different choice,
      simply assign a value to "her" and "his" later, in the final form which lets you submit your own
      word changes. For example, you can set "her" to "his/him" and "his" to "her/s".</p> 
    <p>If you have Natural Language Processing skills, feel free to contact us on github and help us
      make the De/Regenderer better!</p>
  </form>
{% endblock %}

{% block body_scripts %}
  <script>
    function showNonBinaryForm() {
      const nonBinaryForm = document.getElementById('non-binary-form');
      const nonBinaryRadioMale = document.querySelector(`input[type=radio][name=male][value=non-binary]`);
      const nonBinaryRadioFemale = document.querySelector(`input[type=radio][name=female][value=non-binary]`);	
      
	if (nonBinaryRadioMale.checked || nonBinaryRadioFemale.checked) {
        nonBinaryForm.style.display = 'block';
      } else {
        nonBinaryForm.style.display = 'none';
      }
    }
  </script>
{% endblock %}
