{% extends "base.html" %}

{% block title %}
  Pronoun Selection
{% endblock %}

{% block content %}
  <form method="POST">
    <h3>Female Pronouns:</h3>
    <label><input type="radio" name="female" value="non-binary" checked>Non-binary</label><br>
    <label><input type="radio" name="female" value="female">Female</label><br>
    <label><input type="radio" name="female" value="male">Male</label><br>
    <h3>Male Pronouns:</h3>
    <label><input type="radio" name="male" value="non-binary" checked>Non-binary</label><br>
    <label><input type="radio" name="male" value="female">Female</label><br>
    <label><input type="radio" name="male" value="male">Male</label><br>
    <br>
    <input type="submit" value="Submit">
    <p>We'll attempt to change all words that refer to males or to females to your selection.
      Unfortunately, we're just doing simple search and replace, so we can't only change the
      gender of a specific character. Changing a character's gender affects all others
      who share the same gender in the original book.</p>
    <p>If you would like to use specific pronouns, you'll get a chance to specify them later.
      The default pronouns we use for non-binary are they/them/their.</p>
    <p>If you have Natural Language Processing skills, feel free to contact us and help us
      make the De/Regenderer better!</p>
  </form>
{% endblock %}
