{% extends "base.html" %}

{% block title %}
  The Degenderer/Regenderer - Samples
{% endblock %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}  
  <h1>Samples</h1>
    {% for sample in selection %}
      <div class="sample" style="margin-top:20px">
	<div>
	  <h3 style="display: inline;">{{ sample['title'] }} - </h3>
	  <h4 style="display: inline;"><i>{{ sample['author'] }}</i></h4>
	{% if sample['webpage'] %}
	-   
	<a href="{{ url_for('download_sample', sample_id=sample['id']) }}"
	   style="display: inline;"
	   onclick="showDownloadingMessage({{ sample['id'] }})">Get de/regendered eBook</a><br>
	<span id="downloading-message-{{ sample['id'] }}"
	      style="display: none; margin-top: 10px;">Processing, thank you for your patience.</span>
	{% else %} - No eBook included
	{% endif %}
	</div>
	<p><b>Female characters:</b> {{ sample['female pronouns'] }} - 
	<b>Male characters:</b> {{ sample['male pronouns'] }}
	{% if sample['female pronouns'] == 'Non-binary' %}
	  - <b>Pronouns:</b> {{ sample['all matches']['she'] }} / {{ sample['all matches']['her'] }}
	{% elif sample['male pronouns'] == 'Non-binary' %}
           - <b>Pronouns:</b> {{ sample['all matches']['he'] }} / {{ sample['all matches']['him'] }}
	{% endif %}
	</p>
	<p>
	  <b>Tagline:</b> {{ sample['tagline'] }}
	</p>
	<button class="toggle">
	  <span class="read-excerpt-text">Read selection</span>
	  <i class="material-icons">chevron_right</i>
	</button>
	<div class="sample-content" hidden>
	  <div id="box" style="border: 2px solid black;
			       border-radius: 10px;
			       padding: 10px;
			       background-color: #EEEEEE;
			       display: inline-block;
			       margin-top: 10px;">
	    <div id="text-container" style="padding: 10px;
					    white-space: pre-line;">{{ sample['excerpt'] }}</div>
	  </div>
	</div>
      </div>
    {% endfor %}
    {% if previous %}
      <a href="{{ url_for('previous_samples') }}">
	<button class="load-previous-button" style="margin-top: 20px; margin-bottom: 20px;">Previous</button>
      </a>
    {% endif %}
    {% if more %}  
    <a href="{{ url_for('more_samples') }}">
    <button class="load-more-button" style="margin-top: 20px; margin-bottom: 20px;">More</button>
    </a>
    {% endif %}
  
{% endblock %}
{% block body_scripts %}
  <script src="{{ url_for('static', filename='samples.js') }}"></script>
  <script>
  function showDownloadingMessage(sampleId) {
    document.getElementById('downloading-message-' + sampleId).style.display = 'block';
  }
  </script>
{% endblock %}
