{% extends "base.html" %}

{% block title %}
  The Degenderer/Regenderer - Samples
{% endblock %}

{% block extra_stylesheets %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}  
  <h1>Samples</h1>
    {% for sample in selection %}
      <div class="sample" style="margin-top:20px">
	<div>
	  <h3 style="display: inline;">{{ sample['book_name'] }} - </h3>
	  <h4 style="display: inline;"><i>{{ sample['author'] }}</i></h4>
	{% if sample['webpage'] %}
	-   
	<a href="{{ url_for('download_sample', sample_id=sample['id']) }}"
	   style="display: inline;"
	   onclick="showDownloadingMessage()">Get de/regendered eBook</a><br>
	<span id="downloading-message"
	      style="display: none; margin-top: 10px;">Processing, thank you for your patience.</span>
	{% else %} - No eBook included
	{% endif %}
	</div>
	<p><b>Female characters:</b> {{ sample['female pronouns'] }} - 
	<b>Male characters:</b> {{ sample['male pronouns'] }}
	{% if sample['female pronouns'] == 'Non-binary' %}
	  - <b>Pronouns:</b> {{ sample['all matches']['she'] }} / {{ sample['all matches']['her'] }}
	{% elif sample['male pronouns'] == 'Non-binary' %}
           - <b>Pronouns:</b> {{ sample['all matches']['he'] }} / {{ sample['all matches']['him'] }}
	{% endif %}
	</p>
	<p>
	  <b>Tagline:</b> {{ sample['tagline'] }}
	</p>
	<button class="toggle">
	  <span class="read-excerpt-text" style="font-size: 1.2em;">Read excerpt</span>
	  <i class="material-icons">chevron_right</i>
	</button>
	<div class="sample-content" hidden>
	  <p>{{ sample['excerpt'] }}</p>
	</div>
      </div>
    {% endfor %}
{% endblock %}
{% block body_scripts %}
  <script src="{{ url_for('static', filename='samples.js') }}"></script>
  <script>
  function showDownloadingMessage() {
    document.getElementById('downloading-message').style.display = 'block';
  }
  </script>
{% endblock %}
