{% extends "base.html" %}

{% block title %}
Search for books
{% endblock %}

{% block content %}
<h2>Search for eBooks</h2>
<form id="searchForm" onsubmit="submitSearch(event)" autocomplete="off">
  <input type="text" name="query" id="query" style="width: 200px;">
  <input type="submit" value="Search">
</form>
This search box will take you to the Project Gutenberg website. The format that usually
works best is called "EPUB (no images, older E-readers)"
{% endblock %}
{% block body_scripts %}
<script>
    function submitSearch(event) {
        event.preventDefault();  // Prevent the default form submission

        // Get the query from the input field
        var query = document.getElementById('query').value;

        // Construct the URL
        var modifiedQuery = query.replace(' ', '+');
        var startUrl = 'https://www.gutenberg.org/ebooks/search/?query=';
        var endUrl = '&submit_search=Go%21';
        var searchUrl = startUrl + modifiedQuery + endUrl;

        // Open the URL in a new tab
        window.open(searchUrl, '_blank');
    }
</script>
{% endblock %}
