{% extends "base.html" %}

{% block title %}
  Websocket - flask_socketio test
{% endblock %}

{% block head_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
{% endblock %}

{% block content %}
  <form action="/test-socket-post" method="post">
        <label for="text">Enter Text:</label>
        <input type="text" id="text" name="text" required>
        <button type="submit">Submit</button>
  </form>  
  <div id="processing-message">
    <p>Your book is being degendered/regendered! Keep this page open until it's ready.
    A file save dialogue will pop up when it's done. Processing might take up to a minute or two
    if the server is busy.</p>
    <p>Chapters processed: <span id="progress">0</span> of <span id="total">0</span></p>
    <a href="/test-socket-post">Click here</a>
  </div>
  <script>
    var socket = io();

    socket.on('connect', function() {
        console.log('Socket.IO client connected');
    });

    socket.on('disconnect', function(reason) {
	console.log('Socket.IO client disconnected', reason);
	socket.connect()
    });

    socket.on('reconnect_attempt', function(attemptNumber) {
	console.log('Reconnection attempt', attemptNumber);
    });
    
    socket.on('reconnect_error', function(error) {
	console.log('Reconnection error', error);
    });
    
    socket.on('reconnect_failed', function() {
	console.log('Reconnection failed');
    });
    
    socket.on('simple_event', function(data) {
        console.log('Simple event received:', data);
    });
    
    socket.on('progress', function(data) {
	console.log('Progress event received:', data);
        document.getElementById('progress').textContent = data.current;
        document.getElementById('total').textContent = data.total;
    });    

    socket.on('progress_event', function(data) {
	console.log('Progress, finally!', data);
    });

  </script>  
{% endblock %}

  
