{% extends "base.html" %}

{% block title %}
  Unknown Names Replacement
{% endblock %}

{% block head_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script src={{ url_for('static', filename='suggest.js') }}> </script>
  <script src={{ url_for('static', filename='submit.js') }}> </script>
{% endblock %}

{% block content %}
  <div id="explanation">You can use this form to change any gendered word that we forgot or that is specific to your
    text. Just type the word you want to change on the left, and the replacement you'd like to use on the
    right.
  </div>
  <form id="desktop-form" method="POST">
    <table class="desktop-table">
      <thead>
        <tr>
          <th>Existing Word</th>
          <th>New Word</th>
	  <th colspan="3">Suggestion</th>
        </tr>
      </thead>
      <tbody id="name-entries">
	{% set keys = session['unknown_matches'].keys()|list %}
	{% for i in range(num_entries) %}
	    {% if i < session['unknown_matches']|length %}
		{% set name = keys[i] %}
		<tr>
		  <td><input type="text"
			     name="existing_names[]"
			     value="{{ name }}">
		  </td>
		  <td><input type="text"
			     name="new_names[]"
			     value="{{ session['unknown_matches'][name] }}">
		  </td>
	    {% else %}
		  <tr>
		  <td><input type="text"
			     name="existing_names[]">
		  </td>
		  <td><input type="text"
			     name="new_names[]">
		  </td>
	    {% endif %}
	    <td>
	      <button type="button" onclick="suggestNb(this.parentNode.parentNode)">
		NB
	      </button>
	    </td>
	    <td>
	      <button type="button" onclick="suggestFemale(this.parentNode.parentNode)">
		F
	      </button>
	    </td>
	    <td>
	      <button type="button" onclick="suggestMale(this.parentNode.parentNode)">
		M
	      </button>
	    </td>
	    <td>
	      <button type="button" onclick="clearRow(this.parentNode.parentNode)">
		Clear
	      </button>
	    </td>
	    </tr>
        {% endfor %}
      </tbody>
      <tbody>
        <tr>
            <td colspan="3">
                <button type="button" onclick="addMoreEntries()">More</button>
            </td>
	</tr>
	<tr>
	  <input type="hidden" name="submit_type" id="desktop-action" value="submit">
	  <td colspan="2"></td>
	  <td colspan="3"><button type="submit" onclick="submitForm('submit')">Submit</button></td>
          <td><button type="button" onclick="submitForm('back')">Back</button></td>
        </tr>
      </tbody>
    </table>
  </form>
  <form id="mobile-form" method="POST">
    <!-- Mobile Version -->
    <div class="mobile-table">
      {% set total_rows = [10, session['unknown_matches']|length] | max %}
      {% for i in range(total_rows) %}
      {% set keys = session['unknown_matches'].keys()|list %}
      {% set name = keys[i] if keys[i] is defined else '' %}
      <div class="mobile-row">
        <div class="name-pair">
          <input type="text" name="existing_names[]" placeholder="Existing word" value="{{ name }}">
          <input type="text" name="new_names[]" placeholder="New word" value="{{ session['unknown_matches'].get(name, '') }}">
        </div>
      </div>
      {% endfor %}
      <div id="additionalRows"></div>
      <div class="mobile-row button-row">
	<button type="button" id="addMoreButton" onclick="addMoreRows()">More</button>
	<input type="hidden" name="submit_type" id="mobile-action" value="submit">
	<button type="submit" onclick="submitForm('submit')">Submit</button></td>
        <button type="button" onclick="submitForm('back')">Back</button>
      </div>
    </div>
  </form>
  <div id="processing-message" style="display: none;">
    <p>Your book is being degendered/regendered! Keep this page open until it's ready.
    A file save dialogue will pop up when it's done. Processing might take up to a minute or two
    if the server is busy.</p>
    <p>Chapters processed: <span id="progress">0</span> of <span id="total">0</span></p>
    <P><a href="/submission-form">Submit your book</a> if you like the result and want to share it.</p>
    <p><a href="/pronouns">Modify your choices</a> if you want to change the names of some characters
      or degender words that we missed.</p>
    <p><a href="/start-over"
	  onclick="return confirm('Start over? You will lose all your changes.');">Start from scratch</a> if modifying
      does not work properly. Modifying is a lot faster, but can occasionally cause bugs.</p>
  </div>
  <script>
    // For desktop version
    function addMoreEntries() {
        // Get the table body
        var tbody = document.getElementById('name-entries');

        // Check the maximum number of entries
        var maxEntries = 200;
        var currentEntries = tbody.childElementCount;

        // Add 10 entries at a time
        var entriesToAdd = Math.min(10, maxEntries - currentEntries);

        for (var i = 0; i < entriesToAdd; i++) {
            // Clone the last row (the one before the buttons)
            var lastRow = tbody.lastElementChild.cloneNode(true);

            // Clear the input values in the cloned row
            var inputs = lastRow.querySelectorAll('input[type="text"]');
            inputs.forEach(function (input) {
                input.value = '';
            });

            // Append the cloned row to the table
            tbody.appendChild(lastRow);
        }

        // Hide the "More" button if the maximum number of entries is reached
        if (currentEntries + entriesToAdd >= maxEntries) {
            document.querySelector('button[onclick="addMoreEntries()"]').style.display = 'none';
        }
    }
    // For mobile version
    function addMoreRows() {
	var totalRows = {{ session['unknown_name_list']|length }};  // Start with the current number of rows
	var container = document.getElementById('additionalRows');
	var rowsToAdd = 10;  // Number of rows to add each time

	// Calculate how many rows can actually be added without exceeding the limit
	var allowableRows = (totalRows + rowsToAdd <= 200) ? rowsToAdd : 200 - totalRows;

	for (var i = 0; i < allowableRows; i++) {
            var newDiv = document.createElement('div');
            newDiv.className = 'mobile-row';
            newDiv.innerHTML = `
            <div class="name-pair">
                <input type="text" name="existing_names[]" placeholder="Existing Name">
                <input type="text" name="new_names[]" placeholder="New Name">
            </div>`;
            container.appendChild(newDiv);
	}

	totalRows += allowableRows;  // Update the total number of rows

	// Optionally disable the button if the maximum number of rows is reached
	if (totalRows >= 200) {
            document.getElementById('addMoreButton').disabled = true;
	}
    }

    // Intercept the desktop form submission
    document.getElementById('desktop-form').addEventListener('submit', function () {
	showProcessingMessage(); // Show the processing message
    });
    // Intercept the mobile form submission
    document.getElementById('mobile-form').addEventListener('submit', function () {
	showProcessingMessage(); // Show the processing message
    });
        
    // Function to show the processing message
    function showProcessingMessage() {
	// Hide the desktop form
	document.getElementById('desktop-form').style.display = 'none';

	// Hide the mobile form
	document.getElementById('mobile-form').style.display = 'none';

	    
	// Hide the text
	document.getElementById('explanation').style.display = 'none';
	
	// Show the processing message
	//document.getElementById('processing-message').style.display = 'block';
    }
  </script>

{% endblock %}
