{% extends "base.html" %}

{% block title %}
  Unknown Names Replacement
{% endblock %}

{% block head_scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src={{ url_for('static', filename='suggest.js') }}> </script>
{% endblock %}

{% block content %}
  <p>This where you can choose your pronouns if you prefer something different from they/them/their.
    Just enter the male or female pronoun you want to replace on the left, and the pronoun you want
    to replace it with on the right. If you're making all characters non-binary, you probably want
    to change "he", "she", "him", "her", "his" and "hers". Any pronouns you don't change will default
    to they/them/their.</p>
  <p>You can also use this form to change any gendered word that we forgot or that is specific to your
    book. Just type the word you want to change on the left, and the replacement you'd like to use on the
    right. If you are a right-wing troll-child, you can probably use this to amuse your easily-amused
    troll-friends by creating racist or sexist trash. We do not care and are not impressed.</p>
  <form method="POST" id="name-selection-form">
    <table>
      <thead>
        <tr>
          <th>Existing Word</th>
          <th>New Word</th>
	  <th colspan="3">Suggestion</th>
        </tr>
      </thead>
      <tbody>
	{% for _ in range(10) %}
        <tr>
	  <td><input type="text" name="existing_names[]" /></td>
          <td><input type="text" name="new_names[]" /></td>
          <td>
            <button type="button" onclick="suggestNb(this.parentNode.parentNode)">
              NB
            </button>
          </td>
	  <td>
            <button type="button" onclick="suggestFemale(this.parentNode.parentNode)">
              F
            </button>
          </td>
	  <td>
            <button type="button" onclick="suggestMale(this.parentNode.parentNode)">
              M
            </button>
          </td>
	  <td>
            <button type="button" onclick="clearRow(this.parentNode.parentNode)">
              Clear
            </button>
          </td>

        </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><button type="submit">Submit</button></td>
        </tr>
      </tbody>
    </table>
  </form>
  <div id="processing-message" style="display: none;">
    Your book is being degendered/regendered!<br>
    Keep this page open until it's ready.<br>
    You can keep browsing in a different tab in the meantime.<br>
    A file save dialogue will pop up when it's done.
  </div>
  <script>
    // Intercept the form submission
    document.getElementById('name-selection-form').addEventListener('submit', function () {
	changeHeaderToDownloading(); // Change the header	
	showProcessingMessage(); // Show the processing message
    });

    // Function to show the processing message
    function showProcessingMessage() {
	// Hide the form
	document.getElementById('name-selection-form').style.display = 'none';

	// Show the processing message
	document.getElementById('processing-message').style.display = 'block';
    }
    // Function to change the header to "Downloading"
    function changeHeaderToDownloading() {
	var header = document.getElementById('header');
	header.textContent = 'Degendering.../Regendering...';
    }
  </script>

{% endblock %}
