<!DOCTYPE html>
<html>
  <head>
    <title>The Degenderer/Regenderer - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <div class="logo">
	<img src="{{ url_for('static', filename='logo_dark_transparent.png') }}" alt="The Degenderer / Regenderer logo">
      </div>
      <nav>
	<ul class="menu">
	  <li><a href="{{ url_for('home') }}"></a></li>
	  <li><a href="{{ url_for('home') }}">Home</a></li>
	  <li><a href="{{ url_for('samples') }}">Samples</a></li>
	  <li><a href="{{ url_for('select_book') }}">Upload</a></li>
	  <li><a href="https://www.gutenberg.org/">Project Gutenberg</a></li>
	</ul>
      </nav>
    </header>
    <div class="welcome">
      <h1>Welcome to The Degenderer/Regenderer</h1>
    </div>
    <main>
      <p>Our platform allows you to create your own version of books where the characters are non-binary or have different genders than in the original. With our tool, you can explore the possibilities of gender in literature and create your own unique reading experience.</p>
      <p>Imagine reading Romeo and Juliet with non-binary heroes, or The Handmaid's Tale with men as the victims. Or perhaps you'd like to turn Brokeback Mountain into a lesbian love story. With The Degenderer/Regenderer, the possibilities are endless.</p>
      <p>If you're looking for books to degender/regender, you can find many of them on <a href="https://www.gutenberg.org/">Project Gutenberg</a>, a free online library with over 60,000 ebooks.</p>
      <p>If you have your own book that you want to degender/regender, you can use our <a href="/select">upload page</a> to upload it and create your own customized version.</p>
    </main>
  </body>
</html>
