{% extends "base.html" %}

{% block title %}
  The Degenderer/Regenderer - Welcome
{% endblock %}

{% block content %}
  <h1>Welcome to the Degenderer / Regenderer!</h1>
  <p>Classic literature is full of love stories. And like all classic love stories, they feature a man and a woman, playing their traditional roles. But no more! Now, you can bring today's more complex and nuanced vision of gender to old classics by making all characters non-binary, or by inverting male and female roles. Play around with sexuality by making any literary relationship lesbian or gay. You choose the pronouns, you choose the names... make the story yours!</p>
  <p>Okay, let's be honest, changing names and pronouns isn't enough to really change a character's gender. They'll still be the same underneath. But it does conjure up different images. Meet the Sisters Karamazov and tremble before Countess Dracula! Join Ulysses on his long homeward journey to his waiting husband! Rediscover Romeo and Juliet as the non-binary Payton and Sawyer!</p>
  <p>If you're looking for classic books to de/regender, you can find many of them on <a href="https://www.gutenberg.org/" target="_blank">Project Gutenberg</a>, a free online library with over 60,000 ebooks. Our <a href={{ url_for('search') }}>search tool</a> redirects you there so you can download the book you want. We can't process copy-protected eBooks, but you can still have fun de/regendering excerpts in our <a href={{ url_for('text_upload') }}>text converter.</a></p>
  <div class="video-container">
    <div class="desktop-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Zhdt7C4JQc8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="mobile-video">
      <iframe width="315" height="560" src="https://www.youtube.com/embed/IJHF7qZaFMg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="footer">{{ books_processed }} books and articles liberated from the strictures of gender</div>
{% endblock %}
